// Font family Antic Slab
@import "@fontsource/antic-slab/index.css";

// Color white
$color-white: white;

// Color blue turquoise
$color-blue-turquoise: #2e3a46;

// Color blue turquoise dark
$color-blue-turquoise-dark: #1e2d3b;

// Color gray
$color-gray: #787c7f;

// Color red
$color-red: #a52019;

// Reset img
img {
    width: 100%;
    display: block;
}